<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index page</title>
  </head>

  <body style="background: black; color: grey; ">
    <div class="container">
      <h2>Some content of index page!<h2>
    </div>
  </body>
</html>